@using AppDomainCore.Cars.Entity
@{
    Layout = "_layout";
}

@model List<Car>;




<table style="width:100%;height:100%;margin:50px; text-align:center;align-items:center;justify-content:center" class="table table-bordered table-responsive table-secondary table-hover">
    <thead>
        <tr>
            <th>موبایل</th>
            <th>کدملی </th>
            <th>آدرس </th>
            <th>نام خودرو </th>
            <th>شرکت سازنده </th>
            <th>پلاک</th>
            <th>سال تولید </th>
            <th>تاریخ ثبت درخواست  </th>
            <th>وضعیت </th>
            <th>عملیات </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.User.Phone</td>
                <td>@item.User.NationalCode</td>
                <td>@item.User.Address</td>
                <td>@item.Name</td>
                <td>@item.Company</td>
                <td>@item.Pluk</td>
                <td>@item.CreateYear</td>
                <td>@item.SetDate</td>
                <td>@item.Status</td>
                <td>
                    <a type="submit" class="btn btn-success" asp-controller="User"  asp-action="SetStatusOk" asp-route-id="@item.Id">ثبت </a>
                    <a type="submit" class="btn btn-danger" asp-controller="User" asp-action="SetStatusCancel" asp-route-id="@item.Id">رد درخواست </a>
                </td>
            </tr>
        }
    </tbody>
</table>






@* <form asp-action="SetStatus">
                    <select class="form-control" name="statusEnum">
                        <option class="form-control" value="">انتخاب کنید</option>
                        <option class="form-control" value="0">در انتظار تایید</option>
                        <option class="form-control" value="1">رد کردن</option>
                        <option class="form-control" value="2">تایید</option>
                    </select>
                        <a type="submit" name="statusEnum" class="btn btn-success" asp-action="SetStatus" asp-route-id="@item.Id">ثبت </a>
                    </form> *@